
streamlit
requests
PyMuPDF
groq
reportlab
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
python-dotenv
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2